.footer-logo {
  height: 6.0vmin;
  pointer-events: none;
}

.footer-container {
margin-top: 3.0rem;
}

.footer {
  display: flex;
  text-align: center;
  bottom:0;
  width:100%;
}

@media (prefers-reduced-motion: no-preference) {
  .footer-logo {
    animation: Footer-logo-spin infinite 10s linear;
  }
}

@keyframes Footer-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}